.imagesetrequest{
    background-color: aquamarine;
    background: url('../../../assets/admin/requestsideimg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}